---
import "../styles/app.scss";
import Layout from "../layouts/Layout.astro";

const items = [{}];
---

<Layout>
  <div class="grobalContaner">
    <div id="contaner" data-scroll>
      <ul class="list">
        <li class="item">
          <img src="./assets/img/1.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/2.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/3.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/4.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/5.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/6.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/7.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/8.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/9.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/10.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/11.jpg" alt="" class="item__image js-image" />
        </li>
        <li class="item">
          <img src="./assets/img/12.jpg" alt="" class="item__image js-image" />
        </li>
      </ul>
    </div>
    <div id="webgl"></div>
  </div>
</Layout>

<script src="../scripts/app.js"></script>
